@keyframes mouse-icon-drop	{
  0%   { top:5px;  opacity: 0;}
  30%  { top:10px; opacity: 1;}
  100% { top:25px; opacity: 0;}
}

@keyframes typing {
  100%{
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@keyframes slide {
  100%{
    top: -360px;
  }
}
