*,
*::before,
*::after {
  box-sizing: border-box;
}

// focus-visible
[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  outline: none;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

input,
textarea,
button {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  appearance: textfield; /* Firefox */
}
