// breakpoint for adaptive
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
// max-device-width
$max-mobile-width: 480px;
$max-tablet-width: 1280px;
$max-desktop-width: 1300px;

// Sizes
$height-header-mobile: 70px;
$height-header-tablet: 90px;

// z-indexes
$header-z-index: 10;
$nav-burger-z-index: 15;

// Colors
$white: #fdfdfd;
//$black: #0D1113;
$black: #111111;

$primary-color: #375CC2;
$secondary-color: #f55422;

$primary-bg: #E2E7E9;
$secondary-bg: rgb(40, 46, 54);
$secondary-bg-400: #757575;


