// breakpoint for adaptive
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
// max-device-width
$max-mobile-width: 480px;
$max-tablet-width: 1280px;
$max-desktop-width: 1300px;

// Sizes
$height-header-mobile: 70px;

// z-indexes
$header-z-index: 10;
$nav-burger-z-index: 5;

// Colors
$white: #ffffff;
$black: #000000;

$primary-color: #375CC2;
$secondary-color: #f55422;
