.about-me {
  background-color: $white;
}

.about-me__inner {

}

.about-me__img {
  background-color: inherit;
}

.about-me__info-wrapper {
  background-color: inherit;
}

.about-me__info {
  background-color: inherit;
}

.about-me__mouse-icon {
  z-index: 50;
}

