.contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 80px;
}

.contacts__title {
  grid-column: 1/3;
  //Fonts
  color: $secondary-bg;
}

.contacts__inner {
  grid-column: 1/3;
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 10px;
}

.contacts__contacts-list {
  gap: 15px;
}

.contacts__copyright {
  grid-column-start: 1;
  grid-column-end: 3;
}
