.header {
  background-color: $white;
}

.header__inner {
  @include flexbox;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  min-height: $min-height-header;
}

.header__nav {
}

.header__contacts {

}
