.header {
  background-color: $white;
  min-height: $height-header-mobile;
}

.header__inner {
  @include flexbox;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  min-height: $height-header-mobile;

  @media (min-width: $tablet-width) {
    min-height: $height-header-tablet;
  }
}

.header__nav {
}

.header__contacts {

}
