.header-contacts {

}

.header-contacts__list {
  @include flexbox;
  flex-direction: row;
}

.header-contacts__item {

}

.header-contacts__link {

}

.header-contacts__icon {
  @include flexbox;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;

  &--phone {
    width: 40px;
    height: 40px;
  }

  &--email {
    width: 43px;
    height: 43px;
  }
}

.header-contacts__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
