.header {
  background-color: inherit;
}

.header__inner {
  @include flexbox;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  min-height: $height-header-mobile;
}

.header__nav {
}

.header__contacts {

}
