.header-contacts {
  z-index: $nav-burger-z-index;
}

.header-contacts__list {
  @include flexbox;
  flex-wrap: wrap;
  flex-direction: row;
}

.header-contacts__item {
  margin-right: 25px;
}

.header-contacts__link {
  @include flexbox;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
}

.header-contacts__icon {
  @include flexbox;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;

  &--phone {
    width: 40px;
    height: 40px;
  }

  &--email {
    width: 43px;
    height: 43px;
  }
}

.header-contacts__text {
  display: none;
  color: $black;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
