.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

.main__about-me {
  min-height: 100vh;
}

.main__portfolio {
  background-color: blueviolet;
}

.main__contacts {
  background-color: blanchedalmond;
}
