.main {
  min-height: 100vh;
  background-color: inherit;
}

.main__about-me {
  min-height: 100vh;
  margin-bottom: 50px; // todo fix
}

.main__portfolio {
}

.main__contacts {
  background-color: blanchedalmond;
}
