.multiple-title {
  display: inline-flex;
  background-color: inherit;
}

.multiple-title__static-text {
  background-color: inherit;
  //Fonts
  @include primary-fonts;
  font-weight: 700;
  font-size: 22px;
  color: black;
}

.multiple-title__dynamic-texts {
  background-color: inherit;
  margin-left: 8px;
  height: 26px;
  //Fonts
  line-height: 26px;
  //overflow: hidden;
}

.multiple-title__dynamic-texts li {
  background-color: inherit;
  position: relative;
  top: 0;
  animation: slide 6s steps(2) infinite;
  //Fonts
  @include  primary-fonts;
  font-weight: 700;
  font-size: 22px;
  color: $primary-color;
}

.multiple-title__dynamic-texts li span {
  background-color: inherit;
  position: relative;
}

.multiple-title__dynamic-texts li span::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  border-left: 2px solid $primary-color;
  background-color: inherit;
  animation: typing 1.5s steps(20) infinite;
}
