.nav-burger-icon {
  --nav-toggle-width: 30px;
  --nav-toggle-height: 18px;

  position: relative;
  height: var(--nav-toggle-height);
  width: var(--nav-toggle-width);
  cursor: pointer;

  &::before {
    content: "";
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $black;
    top: 0;
  }
  &::after {
    content: "";
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $black;
    bottom: 0;
  }
}

.nav-burger-icon__medium {
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: $black;
  top: 50%;
  transform: scale(1) translate(0, -50%);
}
