.nav {

}

.nav__toggle {
  display: none;
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.nav__list {
  @include flexbox;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.nav__item {
  @media (min-width: $tablet-width) {
    padding: 10px 0 10px 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 10px 50px;
  }
}

.nav__link {
  color: $black;
  //font
  font-size: 20px;

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: $tablet-width) {
    //font
    font-size: 26px;
  }

  @media (min-width: $desktop-width) {
    //font
    font-size: 28px;
  }
}

.nav-burger {
  --nav-toggle-width: 30px;
  --nav-toggle-height: 18px;

  position: relative;
  z-index: $nav-toggle-z-index;
  height: var(--nav-toggle-height);
  width: var(--nav-toggle-width);
  cursor: pointer;

  &::before {
    content: "";
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $black;
    top: 0;
  }
  &::after {
    content: "";
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $black;
    bottom: 0;
  }
}

.nav-burger span {
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: $black;
  top: 50%;
  transform: translate(0, -50%);
}
