.page {
  height: 100%;
  min-width: $mobile-width;
}

.page__body {
  height: 100%;
  box-sizing: border-box;
  background-color: $white;
  // Grid
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page__body.scroll-lock {
  overflow: hidden;
}

.page__header {
  background-color: inherit;
  position: fixed;
  width: 100%;
  z-index: $header-z-index;
  left: 0;
  top: 0;
}

.page__main {
  min-height: 100vh;
  margin-bottom: 0;
}

.page__footer {
  margin-bottom: 0;
}

.page__title {
  //Fonts
  @include primary-font;
  font-size: 32px;

  @media (min-width: $tablet-width) {
    //Fonts
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    //Fonts
    font-size: 50px;
  }
}
