.page {
  height: 100%;
  min-width: $mobile-width;
}

.page__body {
  height: 100%;
  box-sizing: border-box;
  // Grid
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page__header {
  background-color: inherit;
  position: fixed;
  width: 100%;
  z-index: $header-z-index;
  left: 0;
  top: 0;
}

.page__main {
  margin-bottom: 0;
}

.page__footer {
  margin-bottom: 0;
}
