.social-media {
  @include flexbox;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-media__list {
  @include flexbox;
  flex-direction: row;
}

.social-media__item {
  padding: 5px 10px;

  @media (min-width: $desktop-width) {
    padding: 5px 15px;
  }
}

.social-media__link {

}

.social-media__icon {

  @media (min-width: $tablet-width) {
    height: 38px;
    width: 38px;
  }

  @media (min-width: $desktop-width) {
    height: 42px;
    width: 42px;
  }

  &:hover,
  &:focus {
    transition: transform 0.1s linear;
    transform: scale(1.1);
  }
}
